<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chistes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="joke-card" *ngIf="joke">
      <div class="joke-content">
        <div *ngIf="joke.type === 'twopart'">
          <p class="joke-setup">{{ joke.setup }}</p>
          <p class="joke-delivery">{{ joke.delivery }}</p>
        </div>
        <div *ngIf="joke.type === 'single'">
          <p class="joke-single">{{ joke.joke }}</p>
        </div>
      </div>
    </div>
    
     <ion-button shape= "round" expand="block" class="refresh-button" (click)="getNewJoke()">
      <ion-icon slot="icon-only" name="refresh"></ion-icon>
    </ion-button>
  </div>
</ion-content>
